<!DOCTYPE html>
<html lang="en">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/handlebars-v4.0.10.js"></script>

    <script>
        $(document).ready(function(){
            $('.collapsible').collapsible();
            Materialize.updateTextFields();
        });
        $.getJSON("/api/org", function (orgs) {
            var data = {'orgs': orgs};
            var source = $("#org-template").html();

            var template = Handlebars.compile(source);
            $('#content').append(template(data));
        });
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
</head>
<body>
    <script id="org-template" type="text/x-handlebars-template">
        {{#orgs}}
        <li>
            <div class="collapsible-header">
                <div class="row" style="width: 100%">
                    <div class="col s3">
                        <p>{{name}}</p>
                    </div>
                </div>
            </div>
            <div class="collapsible-body">
                <div class="row" style="width:100%">
                    <div class="input-field col s4">
                        <input placeholder="Название" value="{{name}}" id="name" type="text">
                        <label class="active" for="name">Название</label>
                    </div>
                </div>
            </div>
        </li>
        {{/orgs}}
    </script>
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">Вкладыши</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html">Sass</a></li>
                <li><a href="badges.html">Components</a></li>
                <li><a href="collapsible.html">JavaScript</a></li>
            </ul>
        </div>
    </nav>
    <!-- Page Layout here -->
    <div class="row" >

        <div class="col s3">
            <!-- Grey navigation panel -->
            <ul class="side-nav fixed" style="margin-top: 70px">
                <li class="bold">
                    <a href="/">Вкладыши</a>
                </li>
                <li class="bold">
                    <a href="/persons">Физические лица</a>
                </li>
                <li class="bold">
                    <a href="/orgs">Организации</a>
                </li>
                <li class="bold">
                    <a href="/positions">Должности</a>
                </li>
                <li class="bold">
                    <a href="/passes">Виды пропусков</a>
                </li>
                <li class="bold">
                    <a href="/codes">Шифры</a>
                </li>

            </ul>
        </div>

        <div class="col s9">
            <!-- Teal page content  -->
            <ul class="collapsible popout" id="content" data-collapsible="accordion">
            </ul>
        </div>

    </div>
</body>
</html>