<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/handlebars-v4.0.10.js"></script>

    <script>
        $(document).ready(function(){
            $('.collapsible').collapsible();
            Materialize.updateTextFields();
        });
        $.getJSON("/api/person", function (persons) {
            var data = {'persons': persons};
            var source = $("#persons-template").html();

            var template = Handlebars.compile(source);
            $('#content').append(template(data));
        });

        Handlebars.registerHelper('name', function (last_name, first_name, middle_name) {
            return last_name + " " + first_name[0] + "." + middle_name[0];
        });
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
</head>
<body>
    <script id="persons-template" type="text/x-handlebars-template">
        {{#persons}}
        <li>
            <div class="collapsible-header">
                <div class="row" style="width: 100%">
                    <div class="col s3">
                        <p>{{name last_name first_name middle_name}}</p>
                    </div>
                    <div class="col s3">
                        <p>{{org_name}}</p>
                    </div>
                    <div class="col s3">
                        <p>{{position_name}}</p>
                    </div>
                </div>
            </div>
            <div class="collapsible-body">
                <div class="row" style="width:100%">
                    <div class="input-field col s4">
                        <input placeholder="Фамилия" value="{{last_name}}" id="last_name" type="text">
                        <label class="active" for="last_name">Фамилия</label>
                    </div>
                    <div class="input-field col s4">
                        <input placeholder="Имя" value="{{first_name}}" id="first_name" type="text">
                        <label class="active" for="first_name">Имя</label>
                    </div>
                    <div class="input-field col s4">
                        <input placeholder="Отчество" value="{{middle_name}}" id="middle_name" type="text">
                        <label class="active" for="middle_name">Отчество</label>
                    </div>
                </div>
                <div class="row" style="width:100%">
                    <div class="input-field col s6">
                        <input placeholder="Организация" value="{{org_name}}" id="org" type="text">
                        <label class="active" for="org">Организация</label>
                    </div>
                    <div class="input-field col s6">
                        <input placeholder="Должность" value="{{position_name}}" id="position" type="text">
                        <label class="active" for="position">Должность</label>
                    </div>
                </div>
            </div>
        </li>
        {{/persons}}
    </script>
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">Вкладыши</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html">Sass</a></li>
                <li><a href="badges.html">Components</a></li>
                <li><a href="collapsible.html">JavaScript</a></li>
            </ul>
        </div>
    </nav>
    <!-- Page Layout here -->
    <div class="row" >

        <div class="col s3">
            <!-- Grey navigation panel -->
            <ul class="side-nav fixed" style="margin-top: 70px">
                <li class="bold">
                    <a href="/">Вкладыши</a>
                </li>
                <li class="bold">
                    <a href="/persons">Физические лица</a>
                </li>
                <li class="bold">
                    <a href="/">Организации</a>
                </li>
                <li class="bold">
                    <a href="/">Должности</a>
                </li>
                <li class="bold">
                    <a href="/">Виды пропусков</a>
                </li>
                <li class="bold">
                    <a href="/">Шифры</a>
                </li>

            </ul>
        </div>

        <div class="col s9">
            <!-- Teal page content  -->
            <ul class="collapsible popout" id="content" data-collapsible="accordion">
            </ul>
        </div>

    </div>
</body>
</html>